#main{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

#result-header{
    text-align: center;
}

#hackathon-list{
    overflow-y: scroll;
    height: 300px;
    -ms-overflow-style:none;
    scrollbar-width: none;
    margin: 0 20px;
    background-color: #c4c4c4;
    border-radius: 5px;
}

#hackathon-list::-webkit-scrollbar{
    display: none;
}