.navbar{
    background-color: #F18C16;
    padding: 10px;
    margin: 0;
    margin-bottom: 30px;
}

.app_name{
    color: #fff;
    font-size: 42px;
    vertical-align: top;
}

.app_icon{
    vertical-align: top;
}

.home_link{
    text-decoration: none;
}