button{
    color: #fff;
    background-color: #F18C16;
    border: 0px;
    border-radius: 5px;
    bottom:0px;
    width: 400px;
    height: 60px;
    transition: .2s;
    font-size: larger;
}

button:hover{
    background-color: #f49f3e;
}

.center{
    text-align: center;
}

#main{
    width: 650px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

p{
    font-size: xx-large;
    margin-bottom: 120px;
}
