.column{
    border-radius: 5px;
    padding: 20px;
    padding-top: 10px;
    background-color: #fff;
    box-shadow: inset;
    margin-bottom: 60px;
}

body{
    background-color: #c4c4c4;
}

#main{
    width:500px;
    margin-left: auto;
    margin-right: auto;
}

button{
    color: #fff;
    background-color: #F18C16;
    border: 0px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    bottom:0px;
    width: 400px;
    height:50px;
    transition: .2s;
}

button:hover{
    background-color: #f49f3e;
}

.center{
    text-align: center;
}

#submit-button{
    display: none;
}

.valid{
    border: #ff0000 solid 2px;
}