<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav th:fragment="navbar_area" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold fs-3 text-light" th:href="@{/}">
                <img th:src="@{/icons/app_icon.svg}" class="app-icon" width="52px" height="52px"/>
                <span><i th:text="#{text.header}"></i></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item me-3">
                        <a class="nav-link active fs-5" th:href="@{/showQuestion}" th:text="#{text.questionform_header}"></a>
                    </li>
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link active fs-5 dropdown-toggle" href="#" id="navbarDropdownPost" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{dropdown.text.post}"></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownPost">
                            <li><a class="dropdown-item" th:href="@{/showPostForm}" th:text="#{dropdown.menu.post}"></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/showPostList}" th:text="#{dropdown.menu.postlist}"></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active fs-5 dropdown-toggle" href="#" id="navbarDropdownRecruitment" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{dropdown.text.recruitment}"></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownRecruitment">
                            <li><a class="dropdown-item" th:href="@{/showRecruitmentForm}" th:text="#{dropdown.menu.recruitment}"></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/showRecruitmentList}" th:text="#{dropdown.menu.recruitmentlist}"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
