<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>診断フォーム - HackathonRunner</title>

    <link rel="stylesheet" th:href="@{/css/style_home.css}" />
    <link rel="stylesheet" th:href="@{/css/style_fragments.css}" />

    <link rel="icon" th:href="@{/icons/favicon.ico}" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/app_icon.svg}">
</head>
<body>
    <nav th:replace="fragments :: navbar_area"></nav>

    <div id="main">
        <p>
            回答の技術レベルからハッカソン当日までに<br/>
            準備しておきたいことや当日の役割を診断！
        </p>

        <div class="center">
            <a href="/showQuestion">
                <button id="send-button">
                    診断を開始する
                </button>
            </a>
        </div>
    </div>
</body>
</html>