<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿詳細 - HackathonRunner</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/bootstrap_hackathon_runner_theme_color.css}"/>

    <link rel="icon" th:href="@{/icons/favicon.ico}" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/app_icon.svg}">
</head>
<body class="bg-light">
    <nav th:replace="fragments :: navbar_area"></nav>

        <div class="container" th:object="${post}">
            <div class="row">
                <div class="mb-3">
                    <img th:src="@{/icons/app_icon.svg}" class="rounded-circle" width="56px" height="56px"/>
                    <span class="fw-bold fs-3 ms-2" th:text="{$post.name}"></span>
                </div>
                <div class="col-12 col-sm-6">
                    <h2>作品情報</h2>
                    <p th:text="${post.work}"></p>
                    <h2>参加したハッカソン</h2>
                    <p th:text="${post.event}"></p>
                    <h2>コメント</h2>
                    <p th:text="${post.comment}"></p>
                </div>
                <div class="col-12 col-sm-6">
                    <table class="table table-bordered">
                        <tr th:switch="${post.hackathon}">
                            <th class="w-50">ハッカソン参加経験</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>1, 2回</td>
                            <td th:case=2>3回以上</td>
                        </tr>
                        <tr th:switch="${post.team}">
                            <th class="w-50">チーム開発経験</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>知人(友人、研究室の仲間)との開発経験あり</td>
                            <td th:case=2>インターン・アルバイトでのチーム開発経験あり</td>
                        </tr>
                        <tr th:switch="${post.portfolio}">
                            <th class="w-50">ツール（アプリ）<br>開発経験</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>簡単なツール（アプリ）を作ったことがある</td>
                            <td th:case=2>ツール（アプリ）を公開したことがある</td>
                            <td th:case=3>ツール（アプリ）開発で、設計・実装・テストを経験したがある</td>
                        </tr>
                        <tr th:switch="${post.git}">
                            <th class="w-50">Git,GitHub使用経験</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>clone または fork をしたことがある</td>
                            <td th:case=2>push したことがある</td>
                            <td th:case=3>add, commit したことがある</td>
                            <td th:case=4>pull, branch, checkout, merge や pull request をしたことがある</td>
                        </tr>
                        <tr th:switch="${post.movie}">
                            <th class="w-50">動画編集経験</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>あり</td>
                        </tr>
                        <tr th:switch="${post.presentation}">
                            <th class="w-50">プレゼン経験</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>あり</td>
                        </tr>
                        <tr th:switch="${post.design}">
                            <th class="w-50">デザインスキル</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>あり(Figma, AdobeXDの基礎レベルorデザイン知識あり)</td>
                            <td th:case=2>あり(コンポーネント機能を使いこなせる)</td>
                        </tr>
                        <tr th:switch="${post.frontend}">
                            <th class="w-50">フロントエンド言語</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>JavaScript基礎レベル</td>
                            <td th:case=2>JavaScriptのフレームワーク(React.js, Vue.js, Angular.js)</td>
                        </tr>
                        <tr th:switch="${post.backend}">
                            <th class="w-50">バックエンド言語の基礎</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>あり(Go, Java, PHP, Python, Ruby,...)</td>
                        </tr>
                        <tr th:switch="${post.infrastructure}">
                            <th class="w-50">インフラ経験</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>あり(Heroku, Firebase, AWS, GCP, Azure)</td>
                        </tr>
                        <tr th:switch="${post.machinelearning}">
                            <th class="w-50">データ分析・画像処理経験</th>
                            <td th:case=0>なし</td>
                            <td th:case=1>画像処理ライブラリ(OpenCV)の利用したことがある</td>
                            <td th:case=2>機械学習を用いたAPI(AWS, Azure, GCP)の利用したことがある</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </dev>
      

    <!--bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>