<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>診断結果 - HackathonRunner</title>

    <link rel="stylesheet" th:href="@{/css/style_result.css}"/>
    <link rel="stylesheet" th:href="@{/css/style_fragments.css}" />

    <link rel="icon" th:href="@{/icons/favicon.ico}" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/app_icon.svg}">
</head>
<body>
    <nav th:replace="fragments :: navbar_area"></nav>

    <div id="main">
    <h1 id="result-header">診断結果</h1>
    
    <span th:utext="${analysisResult}"></span>
    </div>
    <!-- 
    <h2>
        おすすめのハッカソン
    </h2>
    <div id="hackathon-list">

    </div>
    -->
</body>
</html>