<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>診断フォーム - HackathonRunner</title>

    <!--bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/bootstrap_hackathon_runner_theme_color.css}"/>

    <link rel="icon" th:href="@{/icons/favicon.ico}" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/app_icon.svg}">
</head>
<body class="bg-light">
    <nav th:replace="fragments :: navbar_area"></nav>

    <div class="mx-5">
        <form class="needs-validated" action="/showQuestionResult" method="post" novalidate>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">ハッカソン経験</p>
                <input type="radio" class="form-check-input ms-1"  required id="hackathon-no" value=0 name="hackathon"/>
                <label for="hackathon-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="hackathon-yes" value=1 name="hackathon"/>
                <label for="hackathon-yes">あり</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">チーム開発経験</p>
                <input type="radio" class="form-check-input ms-1"  required id="team-no" value=0 name="team"/>
                <label for="team-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="team-yes" value=1 name="team"/>
                <label for="team-yes">あり</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">成果物</p>
                <input type="radio" class="form-check-input ms-1"  required id="deliverable-no" value=0 name="portfolio"/>
                <label for="deliverable-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="deliverable-yes" value=1 name="portfolio"/>
                <label for="deliverable-yes">あり</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">Git,GitHub使用経験</p>
                <input type="radio" class="form-check-input ms-1"  required id="git-no" value=0 name="git"/>
                <label for="git-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="git-yes" value=1 name="git"/>
                <label for="git-yes">あり(clone, push, add, commit, push, pull, request, mergeが分かる)</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">動画編集経験</p>
                <input type="radio" class="form-check-input ms-1"  required id="movie-no" value=0 name="movie"/>
                <label for="movie-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="movie-yes" value=1 name="movie"/>
                <label for="movie-yes">あり</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">プレゼン経験</p>
                <input type="radio" class="form-check-input ms-1"  required id="presentation-no" value=0 name="presentation"/>
                <label for="presentation-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="presentation-yes" value=1 name="presentation"/>
                <label for="presentation-yes">あり</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">デザインスキル</p>
                <input type="radio" class="form-check-input ms-1"  required id="design-no" value=0 name="design"/>
                <label for="design-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="design-yes-1" value=1 name="design"/>
                <label for="design-yes-1">あり(Figma, AdobeXDの基礎レベルorデザイン知識あり)</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="design-yes-2" value=2 name="design"/>
                <label for="design-yes-2">あり(コンポーネント機能を使いこなせる)</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">フロントエンド言語</p>
                <input type="radio" class="form-check-input ms-1"  required id="frontend-no" value=0 name="frontend"/>
                <label for="frontend-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="frontend-yes-1" value=1 name="frontend"/>
                <label for="frontend-yes-1">JavaScript基礎レベル</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="frontend-yes-2" value=2 name="frontend"/>
                <label for="frontend-yes-2">JavaScriptのフレームワーク(React.js, Vue.js, Angular.js)</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">バックエンド言語の基礎</p>
                <input type="radio" class="form-check-input ms-1"  required id="backend-no" value=0 name="backend"/>
                <label for="backend-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="backend-yes" value=1 name="backend"/>
                <label for="backend-yes">あり(Go, Java, PHP, Python, Ruby,...)</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">インフラ経験</p>
                <input type="radio" class="form-check-input ms-1"  required id="infrastructure-no" value=0 name="infrastructure"/>
                <label for="infrastructure-no">なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="infrastructure-yes" value=1 name="infrastructure"/>
                <label for="infrastructure-yes">あり(Heroku, Firebase, AWS, GCP, Azure)</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <div class="form-check my-5 border border-light bg-white bg-white rounded">
                <p class="ms-1">機械学習利用経験</p>
                <input type="radio" class="form-check-input ms-1"  required id="machine-learning-no" value=0 name="machineLearning"/>
                <label for="machine-learning-no">モデル作成経験なし</label><br/>
                <input type="radio" class="form-check-input ms-1"  required id="machine-learning-yes" value=1 name="machineLearning"/>
                <label for="machine-learning-yes">Python, C# でのAPI利用経験orモデル作成経験あり</label>
                <div class="invalid-feedback">この質問は必須です。</div>
            </div>
            <button type="submit" class="btn btn-primary px-5">送信</button>
        </form>
    </div>

    <script th:src="@{/js/questionForm.js}"></script>


    <!--bootstrap js-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
